@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  text-decoration: none;
  color: black;
  

}
li {
  list-style-type: none;
}

.container {
  width: 82%;
  margin: 0 auto
  ;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 0;
}
 ul {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 500;
 }
  ul:nth-child(3){
    gap: 10px;
  }
  h2, li {
    transition: 0.2s all;
  }
  h2:hover , li:hover {
    color: #39DB4A;
    cursor: pointer;
  } 
  h2 {
    font-size: 32px ;
  }

  main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;

    img {
      width: 722px;
    }

   
    h1 span {
      color: #39DB4A;
      
    }
  


  }

  main h1 {
    font-size: 42px;
  }
  main p {
    color: #4A4A4A;
    width: 500px;
    font-weight: 500;
    font-size: 20px;
    margin: 60px 0;
  }

  main button {
    border: none;
    padding: 17px 30px;
    border-radius: 40px;
     font-weight: 600;
    font-size: 18px;
  }

  .btns {
    display: flex;
    gap: 10px;
    align-items: center;
   

    button:nth-child(1){
      background: #39DB4A;
      box-shadow: -2px 22px 38px 0px #8EFF9A80;
      color: white;
      

    }
  }
  
  
 .card-categroies{
    text-align: center;
    width: 300px;
    box-shadow: 2px 10px 30px 0px #0000001A;
    height: 250px;
    padding-top: 40px;
    border-radius: 35px;
    img {
      width: 100px;
    }
  }

  .container #cards {
    margin-top: 78px;
    align-items: center;
    gap: 30px;
    display: flex;
    padding-bottom: 200px;
  }

  .img-frame {
    background: #C1F1C6;
    width: 120px;
    border-radius: 50%;
    padding: 5px;
    height: 120px;
    margin: 0 auto 13px auto;
  }

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
    font-size: 45px;
    }

    span {
      display: flex ;
      gap: 20px;
      
       button {
        border: none;
        padding: 10px 15px ;
        color: #6F6E6E;
        background: #EFEFEF;
        font-size: 18px;
        font-weight: 550;
        transition: all 0.3s;
       }
       button:hover{
        background: #39DB4A;
        color: white;
       }
    }
  }


  .menu-card{
    
    width: 400px;
    border-radius: 35px;
    box-shadow: 2px 9px 42px 0px #00000014;
    text-align: center;
    padding: 37px 0 39px 0;
  }



  .menu-cards {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
  }


  .menu-card {
    position: relative;
  }
  #like {
    top: 20px;
    right: 20px;
    position: absolute;
    font-size: 32px;
  }